body {
  font-family:"Montserrat";
  text-align: center;
  margin:0;
  padding: 0;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
font-family: "Montserrat";
}
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
p {
  color: #8f8f8f;
}
.container-fluid {
  padding: 7% 15%;
}
#title .container-fluid {
  padding: 2% 15% 7%;
  text-align: left;
}
/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
  background-color: white;
}
/* Navigation Bar */
.navbar {
  padding-bottom: 3.5rem;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu";
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}
.download-button {
  margin: 5% 3% 5% 0;
}
/* iphone6 Image */
.iphone6 {
  transform: rotate(25deg);
  width: 300px;
  position: absolute;
  right: 20%;
}
/* features */
#features {
  padding: 7% 15%;
  position: relative;
}
.feature-box {
  padding: 3%;
}
.fa-solid {
  color: #ef8172;
  margin-bottom: 1rem;
}
.fa-solid:hover {
  color: #ff4c68;
}
.feature-title {
  font-size: 2rem;
}
/* Testimonials */
#testimonials{
  background-color: #ef8172;
}
.carousel-item {
  padding: 7% 15%;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
#press {
  background-color: #ef8172;
}
.press-img {
  padding-bottom: 5%;
  width: 10%;
  margin: 20px 20px;
}

/* Pricing */
#pricing {
  padding: 100px;
  font-weight: bolder;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.col-lg-4 {
  padding: 20px;
}
/* Footer */
.footer {
  margin: 5% 3% 5% 0;
}

@media (max-width: 1000px) {
  .iphone6 {
    position: static;
    transform: rotateX(0);
  }
}
